body {
    min-height: 100vh;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

label {
    display: block;
    width: 60px;
    height: 30px;
    background-color: hsl(237, 63%, 64%);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

label::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    border-radius: 70px;
    top: 0px;
    left: 0px;
    transition: 0.5s;

}

input:checked + label:after {
    left: 30px;
}
.toggleBox {
    padding: 20px 0;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
    position: relative;
    flex-wrap: wrap;
}

.annually, .monthly{
    opacity: 50%;
}
.container {
    display: flex;
    flex-basis: 1200px;
    flex-direction: column;
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-size: 20% 80%, 20% 45%;
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    align-items: center;
    justify-content: center;
    background-color: #f7f7ff;
    padding: 40px 0;
    color: #9294a5;
}

.row1{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.bodyheader{
    align-self:center;
}

.row-2 {
    align-self: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}

.card:hover {
    transition: 0.8s;
    transform: scale(1.1, 1.08);
}

.cardHeadBox {
    display: flex;
    justify-content: center;
}

.price {
    font-size: 25px;
    align-self: center;
}

.data {
    display: flex;
    flex-direction: column;
}

.data-1,
.data-2,
.data-3 {
    align-self: center;
}

.hr {
    align-self: center;
    width: 80%;
}

.cardFooter input {
    width: 70%;
    border-radius: 15px;
    padding: 10px;
}

.cardFooter input:hover{
    cursor: pointer;
}

.card-2 {
    background-color: #F9F9F9;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
}

.card-1,
.card-3 {
    background-color: #F9F9F9;
}

#btn-1,
#btn-3 {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: #fff;
    margin:0px 0px 5px 40px;
}

#btn-2{
    background-color: #fff;
    margin:0px 0px 5px 40px;
    color: hsl(237, 63%, 64%);
    font-weight: 600;
}
